.page-container {
    height: 100vh;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.carousel {
    border-radius: 10px;
}

.carousel-inner {
    border-radius: 10px;
}

.dark {
    background-color: black;
    color: white;
}

.top-padding {
    padding-top: 50px;
}