.hotel_info {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 30px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0px;
    overflow: hidden;
}

.hotel_left_info {
    float: left;
    font-size: 30px;
    padding: 25px;
}

.hotel_right_info {
    font-size: 20px;
    padding: 25px;
}

@media only screen and (max-width: 1200px) {
    .hotel_info {
        font-size: 30px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 0px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 900px) {

    .hotel_info {
        display: block;
        padding: 20px;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .hotel_left_info {
        float: none;
        padding: 10px;
        text-align: center;
    }

    .hotel_right_info {
        margin: auto;
        width: 525px;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {

    .hotel_right_info {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
}