.instance_head {
	background-color: #fff;
	padding: 25px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1em;
	display: flex;
	justify-content: space-between;
	justify-content: center;
	margin: 0 auto;
	overflow: hidden;
	width: 1200px;
}

.header_image {

}

.instance_head_info  > h1 {
	font-weight: 400;
}

.carousel_img {
	width: 500px;
	height: 350px;
	margin-right: 25px;
	object-fit: cover;
}

.location {
	float: left;
	margin-right: 15px;
}

.location_link {
	text-decoration: none;
	color: black;
}

.location_link:hover {
	color: black;
}

.contact {
	padding-right: 5px;
}

.weblink {
	text-decoration: none;
	color: black;
}

.weblink:hover {
	color: black;
}

.map {
	width: 525px;
	height: 400px;
}

.nearby {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	font-size: 30px;
	margin-left: 50px;
	padding: 25px;
	padding-top: 0px;
}


.error {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}