.instance_head {
    background-color: #282c34;
    height: 350px;
    color: white;
    padding: 25px;
    font-family: "Georgia", sans-serif;
}

.instance_head_info {
    padding-left: 50px;
}

.carousel_img {
    float: left;
    width: 500px;
    max-height: 300px;
    margin-right: 25px;
}

.instance_location {
    float: left;
    margin-right: 15px;
}

.location_link {
    text-decoration: none;
    color: white;
}

.location_link:hover {
    color: white;
}

.contact {
    padding-right: 5px;
}

.information {
    font-family: "Georgia", sans-serif;
    font-size: 30px;
}

.left_info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left_info {
    font-family: "Georgia", sans-serif;
    font-size: 30px;
    padding: 25px;
    position: absolute;
    left: 0px;
    width: 50%;
}

.right_info {
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    padding: 25px;
    position: absolute;
    right: 0px;
    width: 50%;
}

.review {
    font-size: 15px;
    float: left;
}

.nearby {
    font-family: "Georgia", sans-serif;
    font-size: 30px;
    padding: 25px;
}

