.location-page-container {
}

.instance-content-container {
    padding: 40px;
}

.location-header {
    font-family: "Georgia", sans-serif;
    margin: 20px 0px 0px 0px;
}

.location-card-container {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.location-splash-img {
    width: 100vw;
    overflow: hidden;
    height: 350px;
    position: relative;
}

.location-splash-img img {
    width: 100%;
    transform: translateY(-25%);
}

.location-splash-content {
}

.location-splash-header {
    font-family: "Georgia", sans-serif;
    top: 50%;
}