.location-page-container {
}

.instance-content-container {
    padding: 40px;
}

.listing-container {
    margin-bottom: 20px;
    width: 900px;
}

.listing-container > h3 {
    font-weight: 400;
    margin-left: 20px;
}



.location-header {
    font-family: "Georgia", sans-serif;
    margin: 20px 0px 0px 0px;
}

.location-card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
}

.location-splash-img {
    width: 100vw;
    overflow: hidden;
    height: 350px;
    position: relative;
}

.location-splash-img img {
    width: 100%;
    transform: translateY(-25%);
}

.location-splash-content {
}

.location-splash-header {
    font-family: "Georgia", sans-serif;
    top: 50%;
}