#search-toggle {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    background-color: white !important;
    text-transform: none;
    color: #4f4f4f;
    width: 120px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}

#search-toggle:focus {
    outline: none;
    box-shadow: none;
}

#search-menu .dropdown-item {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #4f4f4f;
}

#search-menu .dropdown-item:hover {
    color: white;
    background-color: #3da1ff;
}

#filter-btn {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    background-color: white !important;
    text-transform: none;
    color: #4f4f4f;
    width: 120px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}

#filter-cancel-btn {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-transform: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    background-color: white !important;
    color: #d61a1a;
}

#filter-cancel-btn:hover {
    background-color: #f2f2f2 !important;
}

#filter-save-btn {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    text-transform: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    background-color: #b46dde !important;
    color: white;
}

#filter-save-btn:hover {
    background-color: #b256e8 !important;
}

#filter-modal {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    max-width: 800px;
    min-width: 300px;
}

.filter-btn-container {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 500px;
}