h1 {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.instance {
  color: black;
  padding: 20px;
}

.instance_img {
  float: left;
  width: 200px;
}

.instance_info {
  margin-left: 220px;
}