h1 {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.instance_head {
  background-color: #282c34;
  height: 350px;
  color: white;
  padding: 25px;
}

.instance {
  color: black;
  padding: 20px;
}

.instance_img {
  float: left;
  width: 200px;
  margin-right: 15px;
}

.instance_info {
  margin-left: 220px;
}

.instance_page_info {
  padding-left: 50px;
}

.carousel_img {
  float: left;
  width: 500px;
  max-height: 300px;
  margin-right: 25px;
}